/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left2 a,.w3agile_similar_post_left ul li a,.w3agile_similar_post_left h4 a,.w3l_categories ul li a,.agileits_recent_posts_gridr h4 a,.agileits_recent_posts_gridr ul li a,.w3agile_blog_left_grid_r ul li a,.w3ls_choose_us_right ul li a,.agileinfo_services_grid1 h4,.agileinfo_services_grid1_pos,.w3agile_footer_grid_left a,.agileinfo_footer_bot_right p a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*-- banner --*/
.banner{
	background:url(../office1.jpeg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:730px;
}
.banner1{
	background:url(../office1.jpeg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#00f1ff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: 2em 0 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    height: 44px;
    padding: 0;
    font-size: 1.1em;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 35px;
    position: relative;
}

.navbar-brand:after{
	content: '';
    background: url(../1.png) no-repeat 0px 0px;
    width: 40px;
    height: 94px;
    position: absolute;
    right: 2%;
    top: 0%;
    transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg); 
}
.navbar-brand span {
    color:#00ffbe;
	letter-spacing: 15px;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #00f1ff;
}
/*-- nav-effect --*/
.menu__list {
	position: relative;
	margin: 0.8em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.5em;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#00f1ff;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #00f1ff;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*-- //nav-effect --*/
.agileits-contact-info {
    float: left;
}
.agileits-contact-info ul li {
    display: inline-block;
    font-size: 14px;
	color:#fff;
}
.agileits-contact-info ul li span {
    margin-right: 10px;
    color: #00f1ff;
}
.agileits-contact-info ul li:nth-child(2) {
    margin-left: 25px;
}
.agileits-contact-info ul li a {
    color: #fff;
    vertical-align: text-bottom;
}
.agileits-contact-info ul li a:hover {
    color: #fff;
}
.w3_agileits_social_media{
	float:right;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
    margin-right: 1em !important;
	color:#fff;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}
.w3l_banner_info{
	width: 90%;
    margin: 11em auto 0;
	text-align:center;
}
.agile-header {
    padding: 20px 0;
    border-bottom:1px solid #7b7b7d;
}
.wthree_banner_info_grid h4 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: line-through;
	letter-spacing: 2px;
}
.wthree_banner_info_grid h3{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin:20px 0;
	letter-spacing: 2px;
}
.wthree_banner_info_grid h5 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: line-through;
	letter-spacing: 2px;
}
/*-- //banner --*/
/*-- welcome --*/
.welcome {
    padding: 6em 0;
}
.welcome-top{
	text-align:center;
}
.welcome-top h4 {
    font-size: 22px;
    margin: 0.7em 0 0;
    color: #666;
   font-weight:600;
}
.welcome-top p {
    font-size: 14px;
    line-height: 28px;
    color: #777;
    margin: 1em auto;
    width: 70%;
}
.charitys{
	margin-top:3em;
}
.chrt_grid{
	text-align:center;
}
.chrt_grid .icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 2px solid #00f1ff;
}
.chrt_grid .icon img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.chrt_grid .icon:before {
  content: '';
  width: 102%;
  height: 102%;
  border-radius: 50%;
  background: #00f1ff;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.chrt_grid:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.chrt_grid:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.glyphicon-heart,.glyphicon-asterisk,.glyphicon-flag{
	color:#212121;
  font-size:35px;
}
.glyphicon-icon {
    position: relative;
  top: 26px;
  display: block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}
.chrty h3 {
    font-size: 22px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 22px;
}
.chrty p {
    font-size: 14px;
    line-height: 28px;
    color: #777;
	padding-top: 16px;
}
.banner-grid1 h5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #00f1ff;
    letter-spacing: 2px;
}
.banner-grid1 p {
    font-size: 14px;
    line-height: 28px;
    color: #777;
    padding-top: 16px;
}
.banner-grids {
    margin-top: 6em;
}
/*-- //welcome --*/
/*--client--*/
.client {
    background:url(../cable.jpeg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding:6em 0;
    text-align: center;
}
.quotes img {
    width: 100%;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
p.w3l {
    font-size: 14px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
	line-height: 28px;
}
.de_testi_by,.de_testi_by a{
	color: #2ad2c9;
    font-size:0.9em;
    margin: 17px 0 0 0;
}
.de_testi {
    margin: 0;
    border: none;
    padding: 3em 3em;
    background: rgba(0, 0, 0, 0.73);
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-size: 0.9em;
}
.quotes {
    float: left;
    width:15%;
	margin-top: 1em;
}
.de_testi_by{
	float: right;
	width:78%;
}
.de_testi_by p {
    color: #fff;
    font-size:1em;
    font-weight: 400;
    line-height: 2em;
}
.customer-say {
    margin-top:5em;
}
/*-- what --*/
.what-left {
    float: left;
    width: 15%;
    text-align: center;
}
.what-right {
    float: right;
    width: 83%;
}
.what-grid1 h4,.what-grid h4 {
    font-size: 22px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
}
.what-w3ls {
    padding: 6em 0;
}
.what-grids {
    margin-top: 6em;
}
.what-grid1 p,.what-grid p {
    font-size: 14px;
    color: #777;
    line-height: 28px;
    padding-top: 10px;
}
.what-grid1 i {
    height: 60px;
    width: 60px;
    margin: 3px;
    font-size: 1.5em;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: #00f1ff;
    color: #fff;
}
.what-top1 {
    margin: 2em 0;
}
.w3ls_head {
    font-size: 36px;
    color: #00f1ff;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: line-through;
}
.what-grid {
    padding-right: 130px;
}
.what-agile-info {
    margin-top: 30px;
    border-left: 3px solid #00f1ff;
    padding: 0 0px 0 20px;
}
p.w3agile {
    font-size: 14px;
    color: #777;
    width: 70%;
    margin: 0 auto;
	line-height: 28px;
	text-align: center;
}
/*-- //what --*/
/*-- footer --*/
.footer {
    background: url(../db1.jpeg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding:5em 0;
}
.footer h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
	letter-spacing: 2px;
}
.footer li,.footer li a{
    display: block;
    color: #c3c3c3;
    font-size: 14px;
    line-height: 28px;
    text-transform: capitalize;
}
.footer li a:hover{
    color: #00f1ff;
}
.newsletter {
    position: relative;
    width: 78%;
}
.newsletter .email {
	padding: 5px 60px 5px 15px;
	border-radius: 3px;
	-Webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	border: 1px solid #fff;
	width: 100%;
	text-align: left;
}
.newsletter .email {
	background-color:#F4F4F4;
	border: none;
}
.newsletter .submit {
	width: 40px;
	height: 40px;
	background-image: url('../subscribe.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: #00f1ff;
	top: 0;
	right: 0;
	outline:none;
	border: none;
}
/*-- //Newsletter --*/
.w3ls-social-icons i, .w3ls-social i {
    font-size: 15px;
    background: #fff;
    padding: 12px 14px;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.w3ls-social-icons i:hover,.w3ls-social i:hover {
	background: transparent;
	background:#00f1ff;
	color:#fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.footer-w3-agile {
    margin: 60px 0 0;
}
.footer-agile span {
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}
.footer-agile p {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
}
.footer-agile {
    margin-top: 40px;
}
.copy-right-agile {
    margin-top: 40px;
}
.copy-right-agile p {
	font-size:14px;
    color: #fff;
    margin: 0;
}
.copy-right-agile p a {
    text-decoration: none;
    color: #00f1ff;
}
.copy-right-agile p a:hover{
    text-decoration: none;
    color: #fff;
}
.footer-w3-1 {
    padding: 0;
}
.footer-w3l-1 {
    padding: 0;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 9999; 
	width: 32px;
	height: 28px;
	border: none;
	text-indent: 100%;
	background: url(../move-top.png) no-repeat -3px 3px;
}
#toTopHover {
	width: 32px;
	height: 28px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #212121 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
